*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: #484848;
    background-color: #3A4965;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

tr, th, td{
    vertical-align: middle;
}

th, td {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.27);
}

table {
    width: 1150px;
    height: 680px;
    border-collapse: collapse;
    table-layout: fixed;
    position: fixed;
    top: calc(50% - 680px/2);
    left: calc(50% - 1150px/2);
}

.thead-first-items th:not(:first-child){
    border: none;
}

.thead-first-items th:nth-child(1){
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    width: 310px;
    background-color: #FAFAFA;
}

.thead-first-items span{
    font-size: 30px;
    line-height: 28px;
}

.thead-first-items th:nth-child(2) {
    color: #FFFFFF;
    background-color: #89C331;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    height: 72px;
}

.thead-first-items th:nth-child(3) {
    color: #FFFFFF;
    background-color: #F04A56;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.thead-first-items th:nth-child(4) {
    color: #FFFFFF;
    background-color: #20807C;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.thead-second-items {
    background-color: #FAFAFA;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    height: 83px;
}

.thead-second-items th {
    padding-left: 32px;
}

.thead-second-items span {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    position: relative;
    top: -20px;
    left: -28px;
}

sup {
    vertical-align: 38px;
    font-size: 24px;
    line-height: 28px;
}

tbody tr{
    height: 72px;
}

tbody tr:nth-child(2n-1){
    background-color: #F2F2F2;
}

tbody tr:nth-child(2n) {
    background-color: #E3E3E3;
}

.tfoot-items td{
   height: 100px;
}

.tfoot-items th{
    background-color: #DDDDDD;
}

.tfoot-items td:not(:first-child){
    background-color: #F2F2F2;
}

.tfoot-items button {
    width: 192px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    font-family: inherit;
    color: #FFFFFF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.first-btn{
    background-color: #484848;
    border-bottom: 8px solid #404040;
    padding-top: 12px;   
}

.second-btn{
    background-color: #89C331;
    border-bottom: 8px solid #79B027;
    padding-top: 12px;
}

.third-btn{
    background-color: #F04A56;
    border-bottom: 8px solid #DF3A46;
    padding-top: 12px;
}

.fourth-btn{
    background-color: #20807C;
    border-bottom: 8px solid #16736F;
    padding-top: 12px;
}