*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: #484848;
    background-color: #3A4965;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

tr,
th,
td {
    vertical-align: middle;
}

th,
td {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.27);
}

.table {
    width: 1150px;
    height: 610px;
    border-collapse: collapse;
    table-layout: fixed;
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: fixed;
    top: calc(50% - 610px/2);
    left: calc(50% - 1150px/2);
}

.thead-items th:first-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;  
  width: 200px;
  height: 115px;
}

.thead-items span{
    font-size: 20px;
}

.thead-items th:nth-child(2n-1){
    background-color: #F2F2F2;;
}

.thead-items th:nth-child(2n){
    background-color: #E3E3E3;
}

.thead-items th:not(:first-child), td {
    width: 160px;
}

.first-column-items{
    width: 198px;
    height: 168px;
}

.first-column-items p{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.first-column-items p:nth-child(2){
    font-size: 36px;
    margin-bottom: 10px;
}

sup{
    vertical-align: 15px;
    font-size: 18px;
    line-height: 28px;
}

.first-column-items span{
    font-size: 14px;
    position: relative;
    top: -8px;
    left: 5px;
}

.btn{
    width: 144px;
    height: 41px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    font-family: inherit;
    color: #FFFFFF;
    background-color: #414141;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 8px solid #343434;
    padding-top: 8px;
}

td:nth-child(2n){
  background-color: #E3E3E3;
}

td:nth-child(2n-1) {
    background-color: #F2F2F2;
}






